


{% extends "index.html" %}

{% block title %}choose{% endblock %}


{% block step1%}active {% endblock %}
{% block step2%}disabled {% endblock %}
{% block step3%}disabled {% endblock %}



{% block top %}

	<h2 class="ui header">
	  <i class="file image outline icon"></i>
	  <div class="content">
	   Choose 
	  </div>
	</h2>

{% endblock %}


{% block content %}



<div class="ui stackable grid">

	{% for label in labels %}
  		<div class="four wide column">
  		<div class="ui segment">
			<a href="edit?labelsvg={{label}}">
				<div class="ui bottom attached label">{{label}}</div>
				<img src="svgtemplate/{{label}}" alt="{{label}}"	class="ui fluid bordered rounded image">
			</a>
		</div>
  		</div>

    	{% endfor %}
</div>






{% endblock %}





