


{% extends "index.html" %}

{% block title %}Edit{% endblock %}


{% block step1%}completed {% endblock %}
{% block step2%}active {% endblock %}
{% block step3%}disabled {% endblock %}



{% block top %}

	<h2 class="ui header">
	  <i class="edit icon"></i>
	  <div class="content">
	    Edit
	  </div>
	</h2>

{% endblock %}



{% block content %}


	<div class="ui two column stackable grid">
	<div class="stretched row">

		<div class="column">
			<div class="ui segment">
				
				<div class="ui top attached black label"><h2>Edit</h2></div><br>

				  <!--button class="ui button" >back</button-->
				  <!--button class="ui button" >clear</button-->

				<form class="ui big form" action="preview" method="post">
				    {% for field in fields %} 
                    <div class="fluid field">
                        <div class="ui labeled input">
                            <div class="ui label">{{ field }}: </div>     <input class="ui input" type="text" name="{{ field }}" value="{{session.fields[field]}}">	  
                        </div>
                    </div>
                    {% endfor %}
				
					  <button class="ui left attached button"><i class="backward icon"></i>Back</button>
					  <button class="ui right attached button"><i class="undo icon"></i>Cancel</button>
					  <button class="ui big right floated black button" type="submit"><i class="eye icon"></i>Update preview</button>

				</form>

			</div>
		</div>



		<div class="column">
			<div class="ui segment">

				<div class="ui top attached black label"><h2>Preview [{{session['labelsvg']}}]</h2></div><br>
				    <a href="prev_img_svg">
                        <img src="prev_img_svg" class="ui fluid bordered rounded image" alt="preview">
                     </a>	
                     <br>
                      <a href="print">
					    <button class="ui big right floated black button" type="submit"><i class="print icon"></i></button>
                      </a>

			</div>
		</div>
	
	</div>

	<div class="column">
		<div class="ui segment">

            Debug
				
			<div>
			Template = {{session['labelsvg']}}<br>
			Text 1 = {{session['txt1']}}<br>
			Text 2 = {{session['txt2']}}<br>
			Text 3 = {{session['txt3']}}<br>
			Text 4 = {{session['txt4']}}<br>
            Fields = {{ fields }}<br>
			</div>
		
		</div>
	</div>

	</div>


{% endblock %}




