<html>
	<head>
		
		<title>{% block title %}{% endblock %} - My Webpage</title>

        <style>
          div.ui.segment {
              padding: 3em 3em;
          }

          button.ui.button {
              margin: 1em 1em;
          }
        </style>

		<link href="Semantic-UI-CSS/semantic.min.css" rel="stylesheet" type="text/css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="Semantic-UI-CSS/semantic.min.js"></script>

		<script language='javascript'>
			// accordion setup
			$(document).ready(function(){
				$('.ui.accordion').accordion();
		     	});
			
			// message
			$('.message .close')
			  .on('click', function() {
			    $(this)
			      .closest('.message')
			      .transition('fade')
			    ;
			  })
			;

		</script>

		<style>

			img.preview {
			  border-radius: 25px;
			  border: 2px solid #AAAAAA;
			  padding: 20px;
			}


		</style>



		<!--header-->
		{% block header %}
	
		{% endblock %}


	</head>
	
	
	
	<body>
	<div class="ui container">

		
		<!--nav-->
		<div class="ui huge stackable inverted labeled icon menu">
		  <a class="item" href="choose"><i class="th icon"></i>Browse</a>
		  <a class="item" href="edit">	<i class="edit icon"></i>Edit</a>
		  <a class="item" href="print"> <i class="print icon"></i>Print</a>
		  <div class="right menu">

		    <a class="item" onclick="$.ajax({url : 'forward', type : 'GET', data : 'nrpx= 5'}); "> <i class="angle up icon"></i>5px</a>
		    <a class="item" onclick="$.ajax({url : 'forward', type : 'GET', data : 'nrpx=25'}); "> <i class="angle double up icon"></i>25px</a>
            <a class="item" onclick="$.ajax({url : 'forward', type : 'GET', data : 'nrpx=50'}); "> <i class="angle double up icon"></i>50px</a>


		    <a class="item"><i class="cogs icon"></i>config</a>

		  </div>
		</div>


	
		<!--header-->
		<center>
		<h1 class="ui header">
		  <i class="print icon"></i>
		  <div class="content">
		    POS/EPS Label printer
		    <div class="sub header">Print labels and stickers from that web page</div>
		  </div>
		</h1>
		</center>


		<!--top-->
		{% block top %}
	
		{% endblock %}


		<!--content-->
		{% block content %}
		
		<br>
		<a href="/edit">
			<button class="ui primary button">Start</button>
		</a>


		{% endblock %}


		<!--bottom-->
		{% block bottom %}
	
		{% endblock %}

	</div>
	</body>

</html>
