


{% extends "index.html" %}

{% block title %}choose{% endblock %}



{% block step1%}completed {% endblock %}
{% block step2%}completed {% endblock %}
{% block step3%}active {% endblock %}

{% block top %}

	<h2 class="ui header">
	  <i class="edit icon"></i>
	  <div class="content">
	  Preview 
	  </div>
	</h2>

{% endblock %}


{% block content %}


<div class="ui two column stackable grid">
<div class="stretched row">
	<div class="column">
		<div class="ui segment">

			<a href="edit"><button class="ui button">back to edit</button></a>
			<a href="print"><button class="ui button">print</button></a>
			
			<div>
			Template = {{session['labelsvg']}}<br>
			Text 1 = {{session['txt1']}}<br>
			Text 2 = {{session['txt2']}}<br>
			Text 3 = {{session['txt3']}}<br>
			Text 4 = {{session['txt4']}}<br>
			</div>
		
		</div>
	</div>
    
	<div class="column">
		<div class="ui segment">
		
			<div class="center">
				  <a href="prev_img_svg"><img src="prev_img_svg" class="preview" alt="preview"></a>	
			</div>	
	
		</div>
	</div>

</div>
</div>

{% endblock %}






